image: node:latest

cache:
  paths:
    - node_modules/
    - .yarn

before_script:
  - apt-get update -qq && apt-get install

pages:
  stage: deploy
  before_script:
    - yarn config set cache-folder .yarn
    - yarn install 
  script:
    - npm run build
    - mv public public-vue
    - mv dist public
  artifacts:
    paths:
      - public
    expire_in: 1 hrs
  only:
    - master